[Desktop Entry]
Type=Application
Exec=/usr/bin/chromium-browser https://bags.bg/core_Users/login --kiosk --start-maximized
Hidden=false
X-GNOME-Autostart-enabled=true
Name[en_US]=AutoChromium
Name=AutoChromium
Comment=Start Chromium when GNOME starts
